@use "setting" as s;

//共通
* {
	font-family: "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho",
		"ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E",
		"ＭＳ Ｐ明朝", "MS PMincho", serif;
}

.section {
	&_title {
		text-align: center;

		img {
			height: 40px;
			width: 40px;
			margin-bottom: 13px;
		}

		h2 {
			font-size: 36px;
		}
	}

	&_container {
		margin: auto;
		width: 80%;
		max-width: 1180px;
	}

	@include s.md {
		&_container {
			width: 90%;
		}
	}
}

//br

.br {
	&_xl,
	&_lg,
	&_md,
	&_sm,
	&_xsm {
		display: none;
	}

	@include s.xl {
		&_xl {
			display: block;
		}

		&_active_xl {
			display: none;
		}
	}

	@include s.lg {
		&_lg {
			display: block;
		}

		&_active_lg {
			display: none;
		}
	}

	@include s.md {
		&_md {
			display: block;
		}

		&_active_md {
			display: none;
		}
	}

	@include s.sm {
		&_sm {
			display: block;
		}

		&_active_sm {
			display: none;
		}
	}

	@include s.xsm {
		&_xsm {
			display: block;
		}

		&_active_xsm {
			display: none;
		}
	}
}

// header

.header {
	display: flex;
	align-items: center;
	position: fixed;
	width: 100%;
	height: 74px;
	padding: 0 20px;
	z-index: 10;

	&::after {
		content: "";
		position: absolute;
		opacity: 0;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(#000, 0.4);
		transition: opacity 1s ease;
	}

	&_logo {
		height: 40px;
		z-index: 100;

		&_link {
			display: flex;
		}

		&_img {
			width: 40px;
			height: 40px;
			margin-right: 15px;
		}

		&_text {
			font-size: 32px;
			color: s.$fontColorWhite;
		}
	}

	&_nav {
		&_pc {
			margin-left: 120px;
			color: s.$fontColorWhite;
			z-index: 100;

			&_list {
				display: flex;
			}

			&_item {
				position: relative;
				margin-right: 33px;

				&::after {
					position: absolute;
					left: 0;
					bottom: 0;
					width: 100%;
					height: 1px;
					background: s.$fontColorWhite;
					content: "";
					transform: scaleX(0);
					transform-origin: left;
					transition: transform 0.6s ease;
				}

				&:hover::after {
					transform: scale(1);
				}
			}

			@include s.sm {
				display: none;
			}
		}

		&_sp {
			display: none;
			z-index: 100;

			&_checkbox {
				display: none;

				//クリック時の挙動
				&:checked ~ {
					label {
						span {
							background: transparent;
						}
						span:before {
							transform: rotate(45deg);
							top: 0;
						}

						span:after {
							transform: rotate(-45deg);
							top: 0;
						}
					}
					nav {
						opacity: 1;
						transform: translateY(0); //下にスライドさせる
					}
				}
			}

			//ハンバーガーアイコン
			&_toggle {
				position: relative;
				cursor: pointer;
				display: block;
				width: 30px;
				height: 30px;
				margin-left: 20px;
				z-index: 10;

				&_line,
				&_line:before,
				&_line:after {
					position: absolute;
					top: 0;
					right: 0;
					left: 0;
					bottom: 0;
					display: block;
					width: 30px;
					height: 3px;
					margin: auto;
					background: s.$fontColorWhite;
					transition: all 0.3s ease;
				}

				&_line:before,
				&_line:after {
					content: "";
				}

				&_line:before {
					top: 14px;
				}

				&_line:after {
					top: -20px;
				}
			}

			//トグルメニュー
			&_menu {
				position: fixed;
				opacity: 0;
				top: 0;
				left: 0;
				width: 100%;
				height: 100vh;
				background: rgba(#282f35, 0.8); //背景色
				overflow: hidden;
				transform: translateY(-100%); //上から出現させる
				transition: transform 0.6s ease, opacity 1s ease;

				ul {
					position: absolute; //真ん中に固定する　上下はtranselateで変更可能
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					text-align: center;
					li {
						font-size: 3rem;
						color: s.$fontColorWhite;
						&:not(:last-child) {
							margin-bottom: 1.3em;
						}
					}
				}

				&_logo {
					text-align: center;
					img {
						width: 40px;
						height: 40px;
						margin-bottom: 20px;
					}
					span {
						display: block;
						font-size: 3.5rem;
						letter-spacing: 1.3rem;
					}
				}
			}

			@include s.sm {
				display: block;
			}
		}
	}

	&_reserve {
		margin-left: auto;
		display: flex;
		align-items: center;
		height: 49px;
		padding: 0 32px;
		background: s.$buttonColor;
		color: s.$fontColorWhite;
		transition: background-color 0.3s ease;
		cursor: pointer;
		z-index: 100;

		img {
			width: 20px;
			height: 20px;
			margin-right: 10px;
		}

		&:hover {
			background: lighten(s.$buttonColor, 10%);
		}
	}

	@include s.xsm {
		&_logo {
			&_img {
				width: 35px;
				height: 35px;
				margin-right: 8px;
			}
			&_text {
				font-size: 2.8rem;
			}
		}

		&_reserve {
			padding: 0 10px;

			img {
				// display: none;
				width: 20px;
				height: 20px;
				margin-right: 5px;
			}
		}
	}
}
//スクロールで背景付与
.headerBgChange {
	&::after {
		opacity: 1;
	}
}

// mv

.mv {
	&_top {
		height: 100vh;
		position: relative;
		overflow: hidden;

		&_img {
			&_wrapper {
				position: relative;
				width: 100%;
				height: 100%;
			}

			&_item {
				position: absolute;
				width: 100%;
				height: 100%;
				transition: scale 10s ease;

				&::after {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background: rgba(#000, 0.2);
				}
			}
		}

		&_img1 {
			background: url(../../img/mainbg01.jpg) no-repeat center/cover;
		}

		&_img2 {
			display: none;
			background: url(../../img/mainbg02.jpg) no-repeat center/cover;
		}

		&_img3 {
			display: none;
			background: url(../../img/mainbg03.jpg) no-repeat center/cover;
		}

		&_text {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			color: s.$fontColorWhite;
			font-size: 34px;
			line-height: 3em;
			letter-spacing: 0.5rem;
			text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
			writing-mode: vertical-rl;
			text-orientation: upright;
		}
	}

	&_bottom {
		display: flex;
		justify-content: center;
		flex-direction: column;
		width: 100%;
		padding: 100px 0;
		background: url(../../img/bg01.jpg) center/cover;
		writing-mode: vertical-rl;
		text-orientation: upright;

		&_title {
			margin-left: 60px;
			font-size: 2.8rem;
			line-height: 2.2;
			letter-spacing: 0.5rem;

			span {
				margin-top: 50px;
			}
		}

		&_text {
			margin-top: 50px;
			margin-left: 60px;
			line-height: 2.2;
			letter-spacing: 0.5rem;
		}

		&_name {
			text-align: right;
			font-size: 2.2rem;
			letter-spacing: 1rem;
		}
	}

	@include s.sm {
		&_top {
			&_text {
				line-height: 2.2;
			}
		}

		&_bottom {
			writing-mode: horizontal-tb;
			padding: 100px 10%;

			&_title,
			&_text {
				margin-top: 30px;
				margin-left: 0;
			}

			&_name {
				margin-top: 30px;
			}
		}
	}
}

//mainvisual jquery操作
.zoomImg {
	scale: 1.1;
}

// todetail

.todetail {
	padding: 106px 0 78px;

	&_item {
		display: flex;
		height: 545px;

		&_img {
			width: 60%;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		&_content {
			padding-top: 25px;
			min-width: 460px;

			&_title {
				margin-bottom: 67px;
				font-size: 3.6rem;
				line-height: 6.2rem;
			}

			&_text {
				margin-bottom: 40px;
				line-height: 3.2rem;
			}

			&_button {
				display: block;
				width: 200px;
				height: 56px;
				padding: 18px 0;
				border: 1px solid s.$fontColorBlack;
				text-align: center;
				transition: background-color 0.3s;

				&:hover {
					background: #eee;
				}
			}
		}

		&:nth-child(odd) {
			padding-right: 5%;
			& .todetail_item_content {
				margin-left: 120px;
			}
		}

		&:nth-child(even) {
			flex-direction: row-reverse;
			margin-left: auto;
			padding-left: 5%;
		}

		&:not(:last-child) {
			margin-bottom: 122px;
		}
	}

	@include s.xl {
		&_item {
			&:nth-child(odd) {
				& .todetail_item_content {
					margin-left: 50px;
				}
			}
		}
	}

	@include s.lg {
		padding: 0;

		&_item {
			position: relative;
			height: auto;
			flex-direction: column;
			align-items: center;

			&_img {
				position: relative;
				width: 100%;
				height: 500px;

				&::after {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background: linear-gradient(rgba(#000, 0.6), transparent 70%);
				}
			}

			&:nth-child(odd) {
				padding-right: 0;
				margin-left: 0;
				& .todetail_item_content {
					margin-left: 0;
				}
			}

			&:nth-child(even) {
				flex-direction: column;
				padding-left: 0;
			}

			&_content {
				width: 90%;
				min-width: auto;
				padding: 40px 0 80px;

				&_title {
					position: absolute;
					top: 40px;
					color: s.$fontColorWhite;
				}

				&_text {
					margin-bottom: 70px;
				}
			}

			&:not(:last-child) {
				margin-bottom: 0;
			}
		}

		&_br {
			display: none;
		}
	}

	@include s.xsm {
		&_item {
			&_img {
				height: 600px;
			}
			&_content {
				width: 95%;
				&_title {
					right: 50px;
					font-size: 3.2rem;
					letter-spacing: 0.5rem;
					writing-mode: vertical-rl;
				}
			}
		}
	}
}

//recommend

.recommend {
	padding: 60px 0 142px;
	background: url(../../img/bg02.jpg) center/cover;

	&_title_br {
		display: none;
	}

	&_list {
		display: flex;
		justify-content: space-between;
		margin-top: 61px;
	}

	&_card {
		width: calc((100% - 94px * 2) / 3);

		&_bottom {
			padding-top: 28px;

			&_title {
				margin-bottom: 26px;
				font-size: 2rem;
				line-height: 3.2rem;
			}

			&_text {
				line-height: 3.2rem;
			}
		}
	}

	@include s.md {
		&_card {
			width: calc((100% - 40px * 2) / 3);
		}
	}

	@include s.sm {
		&_title_br {
			display: block;
		}

		&_list {
			flex-direction: column;
		}

		&_card {
			width: 100%;

			&_bottom {
				padding-top: 20px;
				&_title {
					margin-bottom: 10px;
				}
			}
			&:not(:last-child) {
				margin-bottom: 70px;
			}
		}
	}
}

//info

.info {
	padding: 60px 0;

	&_tab {
		margin: 57px 0 48px;
		display: flex;
		justify-content: center;

		&_item {
			position: relative;
			cursor: pointer;

			&::after {
				content: "";
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				height: 1px;
				background: s.$fontColorBlack;
				transform: scaleX(0);
				transform-origin: left;
				transition: transform 0.6s ease;
			}

			&:hover {
				&::after {
					transform: scaleX(1);
				}
			}

			&--active {
				&::after {
					transform: scaleX(1);
				}
			}

			&:not(:last-child) {
				margin-right: 50px;
			}
		}
	}

	&_items {
		&--hide {
			display: none;
		}
	}

	&_cards {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&_card {
		width: calc((100% - 44px) / 2);
		background: s.$cardColor;

		a {
			display: flex;
			padding: 15px 10px;
		}

		&_img {
			position: relative;
			overflow: hidden;
			width: 100px;
			height: 100px;
			min-width: 100px;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				transition: transform 0.6s;
			}

			&::after {
				content: "more";
				position: absolute;
				opacity: 0;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				padding-top: 38px;
				background: rgba(0, 0, 0, 0.3);
				color: #fff;
				text-align: center;
				transition: opacity 0.6s;
			}
		}

		&_content {
			padding-left: 30px;

			&_date {
				font-size: 1.4rem;
				margin-bottom: 5px;
			}

			&_text {
				line-height: 3.2rem;
			}
		}

		&:not(:nth-child(-n + 2)) {
			margin-top: 20px;
		}

		&:hover {
			.info_card_img {
				&::after {
					opacity: 1;
				}
			}
			img {
				transform: scale(1.1);
			}
		}
	}

	@include s.md {
		&_card {
			width: 100%;

			&:not(:first-child) {
				margin-top: 20px;
			}
		}
	}
}

//access

.access {
	padding: 60px 0 110px;
	background: url(../../img/bg01.jpg) center/cover;

	&_container {
		display: flex;
		justify-content: space-between;
		margin: 79px 0 69px;
	}

	&_img {
		flex-basis: 60%;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&_content {
		flex-basis: calc(40% - 83px);

		&_item {
			margin-top: 20px;
		}

		&_text {
			line-height: 1.5;
		}
	}

	&_map {
		position: relative;
		width: 100%;
		max-width: 800px;
		margin: 0 auto;
		padding-top: 60%;
		height: 0;
		text-align: center;

		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	@include s.md {
		&_container {
			flex-direction: column;
			margin-top: 50px;
		}

		&_img {
			flex-basis: 350px;
			overflow: hidden;
		}

		&_content {
			flex-basis: fill;
		}
	}

	@include s.xsm {
		&_map {
			padding-top: 120%;
		}
	}
}

//footer

.footer {
	padding-top: 61px;
	background: url(../../img/bg3.jpg) center/cover;
	&_nav {
		display: flex;
		justify-content: center;
		writing-mode: vertical-rl;
		margin-bottom: 97px;
		width: 100%;

		&_list {
			display: flex;
			justify-content: center;
			flex-direction: column;
		}

		&_item {
			letter-spacing: 1.5rem;

			&:not(:last-child) {
				margin-left: 30px;
			}

			a {
				position: relative;

				&::after {
					content: "";
					position: absolute;
					inset: 0 -4px auto auto;
					width: 1px;
					height: calc(100% - 14px);
					background: #000;
					scale: 0;
					transform-origin: top;
					transition: scale 0.6s ease;
				}
			}

			&:hover {
				a {
					&::after {
						scale: 1;
					}
				}
			}
		}
	}

	&_logo {
		margin-bottom: 65px;
		text-align: center;
		img {
			width: 40px;
			height: 40px;
			margin-bottom: 13px;
		}

		h3 {
			font-size: 4.3rem;
			letter-spacing: 1.8rem;
		}
	}

	&_info {
		margin-bottom: 50px;
		text-align: center;

		p {
			letter-spacing: 0.3rem;
			margin-bottom: 18px;

			span {
				margin-left: 1em;
			}
		}
	}

	&_copy {
		padding: 23px;
		background: #000;
		color: s.$fontColorWhite;
		font-size: 1.2rem;
		text-align: center;
	}

	@include s.xsm {
		p {
			span {
				display: block;
				margin-left: 0;
			}
		}
	}
}

//totop

.totop {
	position: fixed;
	inset: auto 40px 40px auto;
	display: none;
	width: 70px;
	height: 70px;
	background: s.$buttonColor;
	transition: background-color 0.6s ease;

	&::before,
	&::after {
		content: "";
		position: absolute;
		top: 20px;
		height: 30px;
		width: 3px;
		background: #fff;
	}

	&::before {
		rotate: 45deg;
		left: 24px;
	}

	&::after {
		rotate: -45deg;
		right: 24px;
	}

	&:hover {
		background: lighten(s.$buttonColor, 10%);
	}

	@include s.sm {
		bottom: 20px;
		right: 20px;
	}
}

//sv

.sv {
	position: relative;
	height: 500px;

	&_img {
		position: relative;
		width: 100%;
		height: 100%;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(#000, 0.2);
		}
	}

	&_text {
		position: absolute;
		top: 50%;
		left: 50%;
		font-size: 3.4rem;
		color: s.$fontColorWhite;
		translate: -50% -50%;
	}
}

//bredclumb
.bredcrumb {
	margin-top: 33px;
	ol {
		li {
			display: inline-block;

			a {
				position: relative;
				&::after {
					content: "";
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 1px;
					background: #000;
					scale: 0;
					transform-origin: left;
					transition: scale 0.6s ease;
				}
			}

			&:not(:last-of-type) {
				&::after {
					content: "";
					background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M96 480c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L242.8 256L73.38 86.63c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l192 192c12.5 12.5 12.5 32.75 0 45.25l-192 192C112.4 476.9 104.2 480 96 480z" fill="000"/></svg>')
						center/contain no-repeat;
					width: 0.7em;
					height: 0.7em;
					display: inline-block;
					margin-left: 5px;
				}
			}

			&:hover {
				a {
					&::after {
						scale: 1;
					}
				}
			}
		}
	}
}

//detail

.detail {
	padding: 90px 0 150px;

	&_head {
		text-align: center;
		margin-bottom: 76px;
		line-height: 3.2rem;
	}

	&_body {
		&_item {
			position: relative;
			padding-top: 60px;

			&_img {
				position: absolute;
				top: 0;
				left: 0;
				width: 40%;
				height: 300px;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}

			&_content {
				width: calc(60% + 200px);
				min-height: 380px;
				padding-top: 55px;
				padding-bottom: 55px;
				background: url(../../img/bg01.jpg) center/cover;

				&_title {
					font-size: 2.4rem;
					margin-bottom: 46px;
				}

				&_text {
					margin-bottom: 46px;
					line-height: 3.2rem;
				}

				&_notice {
					font-size: 1.4rem;
					line-height: 2.1rem;
				}
			}

			&:nth-child(odd) {
				.detail_body_item_content {
					margin-left: auto;
					padding-left: 280px;
					padding-right: 55px;
				}
			}

			&:nth-child(even) {
				.detail_body_item_img {
					left: auto;
					right: 0;
				}
				.detail_body_item_content {
					padding-left: 80px;
					padding-right: 255px;
				}
			}

			&:not(:last-of-type) {
				margin-bottom: 84px;
			}
		}
	}
	@include s.lg {
		&_body {
			&_item {
				&_img {
					height: 380px;
				}

				&:nth-child(odd) {
					.detail_body_item_content {
						padding-left: 250px;
						padding-right: 55px;
					}
				}

				&:nth-child(even) {
					.detail_body_item_content {
						padding-left: 80px;
						padding-right: 255px;
					}
				}
			}
		}
	}

	@include s.md {
		&_body {
			&_item {
				padding-top: 300px;

				&_img {
					width: 90%;
					height: 350px;
				}

				&_content {
					width: 95%;
					padding-top: 85px;
				}

				&:nth-child(odd) {
					.detail_body_item_content {
						padding-left: 55px;
					}
				}

				&:nth-child(even) {
					.detail_body_item_content {
						padding-left: 55px;
						padding-right: 55px;
					}
				}
			}
		}
	}

	@include s.xsm {
		&_body {
			&_item {
				padding-top: 200px;
				&_img {
					height: 250px;
				}
				&:nth-child(odd) {
					.detail_body_item_content {
						padding-left: 20px;
						padding-right: 20px;
					}
				}

				&:nth-child(even) {
					.detail_body_item_content {
						padding-left: 20px;
						padding-right: 20px;
					}
				}
			}
		}
	}
}

//efficacy

.efficacy {
	padding-bottom: 95px;
	&_container {
		padding: 90px 0 74px;
		border-top: 1px solid s.$borderColor;
		border-bottom: 1px solid s.$borderColor;
	}

	&_title {
		font-size: 2.6rem;
		text-align: center;
		margin-bottom: 46px;
	}

	&_table {
		width: 80%;
		margin: auto;
		border-collapse: collapse;
		tr {
			border-top: 1px solid s.$borderColor;
			th,
			td {
				vertical-align: top;
				padding: 14px 0;
			}

			th {
				width: 20%;
				min-width: 90px;
				text-align-last: left;
			}

			:last-of-type {
				border-bottom: 1px solid s.$borderColor;
			}
		}
	}

	@include s.md {
		&_table {
			width: 90%;
		}
	}
}
